<div class="container mt-5">
    <h1 class="lista">Lista de jugadores</h1>
    <hr>
    <div class="row mt-5 ">
        {{#each data}}
        <div class="col-4 mt-5">
            <div class="card" style="width: 18rem">
                <img src="{{photo}}" class="card-img-top" alt="{{name}}">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <a href="/players/{{id}}" class="btn btn-dark">Ver detalles</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>