<div class="container mt-5">
    <h1>Lista de Ligas</h1>
    <hr>
    {{#each leagues}}
    <div class="row mt-5 mb-5">
        <div class="col-6 ">
            <h5 class="card-title">{{league.name}}</h5>
        </div>
        <div class="col-3">
            <a href="/leagues/{{league.id}}/details" class="btn btn-dark">Ver detalles</a>
        </div>
        <div class="col-3">
            <a href="/teams/league/{{league.id}}" class="btn btn-primary">Ver Equipos</a>
        </div>
    </div>
    <hr>
    {{/each}}
</div>