body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

figure img {
  height: 300px;
  background-size: cover;
}

.player img {
  height: 350px;
  background-size: cover;
}

.pant-inicio {
  background-image: url('../images/photo principal.jpg');
  height: 650px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding-top: 8%;
}

